@font-face {
    font-family: 'Cocogoose Classic Trial';
    src: url('CocogooseClassicTrial-Medium.woff2') format('woff2'),
        url('CocogooseClassicTrial-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

